@model MyWebApp.Models.Product

@{
    ViewBag.Title = "Add Product";
}

@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <style type="text/css">
        table {
            width: 600px;
            height: 500px;
            margin: 30px auto auto auto;
        }
    </style>

    <table>
        <tr>
            <td colspan=2><center><font size=6><b>ADD PRODUCT</b></font></center></td>
        </tr>

        <tr>
            <td>Product Name:</td>
            <td>
                @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "badge badge-danger" })
            </td>
        </tr>

        <tr>
            <td>Price:</td>
            <td>
                @Html.TextBoxFor(m => m.Price, "", new { @class = "form-control", @placeholder = "VND" })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "badge badge-danger" })
            </td>
        </tr>

        <tr>
            <td>Description:</td>
            <td>
                @Html.TextBoxFor(m => m.Describe, "", new { @class = "form-control", @placeholder = "Description" })
                @Html.ValidationMessageFor(m => m.Describe, "", new { @class = "badge badge-danger" })
            </td>
        </tr>

        <tr>
            <td>Img:</td>
            <td>
                @Html.TextBoxFor(m => m.Img, "", new { @class = "form-control", @placeholder = "Image" })
                @Html.ValidationMessageFor(m => m.Img, "", new { @class = "badge badge-danger" })
            </td>
        </tr>

        <tr>
            <td>Amount:</td>
            <td>
                @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", @placeholder = "Amount" })
                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "badge badge-danger" })
                @if (ViewBag.error != null)
                {
                    <span class="badge badge-danger">@ViewBag.error</span>
                }
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" name="submit" class="btn btn-danger" value="Add" />
            </td>

        </tr>
    </table>
}