@model List<MyWebApp.Models.Product>


@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in @Model)
    {
        <div class="col-md-4">
            <div>
                <div class="card border-primary mb-3">
                    <div>
                        <img src=@item.Img width="100%" height="100%" />
                    </div>
                    <div class="card-header">@item.Name</div>
                    <div class="card-body">
                        <p class="card-text">@item.Price</p>
                        <p class="card-text"><b>Sold: @item.Amount</b></p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">@item.Describe</p>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Details", "Details", new { id = @item.Id }) &rsaquo;
                </p>
            </div>
        </div>
    }
</div>